{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Worth</th>
                <td>{{ order.Worth }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ order.Date ? order.Date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Transport</th>
                <td>{{ order.Transport ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('order_index') }}">back to list</a>

    <a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>

    {{ include('order/_delete_form.html.twig') }}
{% endblock %}
